@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = Model.ProductName;
}

<div class="row">
    <div class="col-md-6 offset-3 mt-3 text-center">
        <h2 class="text-primary">@Model.ProductName <span>Details</span></h2>
    </div>
</div>

<div class="container">
    <div class="row align-content-center p-2">
        <div class="col-md-6 offset-0 offset-md-3 bg-secondary py-2 px-5 rounded text-center">
            <img src="~/img/@Model.ProductImage" alt="@Model.ProductName" longdesc="@Model.ProductDescription" class="img-fluid productImg" />
            <p class="text-danger mt-3">
                @Html.DisplayFor(model => model.ProductDescription)
            </p>

            <div class="border border-danger px-2 pt-1 rounded">
                <div class="">
                    <p>
                        <strong>
                            @Html.DisplayNameFor(model => model.ProductPrice):
                        </strong>
                        @Html.DisplayFor(model => model.ProductPrice)
                    </p>
                    <p>
                        <strong>
                            @Html.DisplayNameFor(model => model.StockQty):
                        </strong>
                        @Html.DisplayFor(model => model.StockQty)
                    </p>
                    <p>
                        <strong>
                            @Html.DisplayNameFor(model => model.UnitsOrdered):
                        </strong>
                        @Html.DisplayFor(model => model.UnitsOrdered)
                    </p>
                </div>
                <div class="">
                    <p>
                        <strong>
                            @Html.DisplayNameFor(model => model.Category):
                        </strong>
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </p>
                    <p>
                        <strong>
                            @Html.DisplayNameFor(model => model.Manufacturer):
                        </strong>
                        @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
                    </p>
                    <p>
                        <strong>
                            Discontinued? :
                        </strong>
                        @{
                            string lineText = Model.StockStatus ? "No" : "Yes";
                        }
                        @lineText
                    </p>
                </div>
            </div>
            <div class="mt-3 shadow-sm">
                <a asp-action="TiledView" class="btn btn-primary w-100 d-inline-block">Back to Products</a>
            </div>
        </div>
    </div>
</div>





@*<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsOrdered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsOrdered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>
    </dl>
</div>*@
@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to Products</a>
</div>*@
